<div class="col-sm-7 mx-auto">


    <h4>Users List</h4>

    <div class="alert alert-info p-1" *ngIf="!err && !users">
        <strong>Please wait while loading data</strong>
    </div>

    <div class="alert alert-danger p-1" *ngIf="err">
        <strong>{{err}}</strong>
    </div>

    <table class="table table-border table-hover" *ngIf="users">
        <thead>
            <tr *ngIf="users.length===0">
                <th>
                    <strong>No records available</strong>
                </th>
            </tr>
            <tr *ngIf="users.length>0">
                <th>User#</th>
                <th>Name</th>
                <th>Email Id</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let u of users">
                <td class="text-right">{{u.id}}</td>
                <td>{{u.name|titlecase}}</td>
                <td>{{u.email|lowercase}}</td>
                <td>
                    <a class="btn btn-sm btn-info mr-1" [routerLink]="['/txns',u.id]">
                        transactions
                    </a>
                    <a class="btn btn-sm btn-secondary" [routerLink]="['/addTxn',u.id]">
                        new transaction
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>