<h3>Pipes Demo</h3>

<div>
    <span>Original: <strong>{{strData}}</strong></span> <br/>
    <span><strong>{{strData|uppercase}}</strong></span> <br/>
    <span><strong>{{strData|lowercase}}</strong></span> <br/>
    <span><strong>{{strData|titlecase}}</strong></span> <br/>
</div>

<div>
    <span>Original: <strong>{{num}}</strong></span> <br/>
    <span><strong>{{num|number:'5.3-3'}}</strong></span> <br/>
</div>


<div>
    <span>Original: <strong>{{num}}</strong></span> <br/>
    <span><strong>{{num|currency:'INR'}}</strong></span> <br/>
    <span><strong>{{num|currency:'USD'}}</strong></span> <br/>
    <span><strong>{{num|currency:'GBP'}}</strong></span> <br/>
    <span><strong>{{num|currency:'JPY'}}</strong></span> <br/>
    <span><strong>{{num|currency:'AUD'}}</strong></span> <br/>
    <span><strong>{{num|currency:'XYZ'}}</strong></span> <br/>
</div>

<div>
    <span>Original: <strong>{{today}}</strong></span> <br/>
    <span><strong>{{today|date:'short'}}</strong></span> <br/>
    <span><strong>{{today|date:'long'}}</strong></span> <br/>
    <span><strong>{{today|date:'dd-MM-yyyy'}}</strong></span> <br/>
    <span><strong>{{today|date:'dd-MMM-yyyy'}}</strong></span> <br/>
    <span><strong>{{today|date:'dd-MMMM-yyyy'}}</strong></span> <br/>
    <span><strong>{{today|date:'dd-MM-yyyy hh:mm:ss a'}}</strong></span> <br/>
    <span><strong>{{today|date:'dd-MM-yyyy HH:mm:ss'}}</strong></span> <br/>
</div>